.gradle
bin
build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

# Cruft
*.hprof
.DS_Store
.vscode

# deploy secrets and local configuration
local.properties
